[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["dev", "uvicorn", "testing"], version = "*"}
uvicorn = "*"
requests = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
